@using PaginaColetaEmailVideo.Dto

@model LoginDto

@{
    Layout = "_LayoutDeslogada";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger text-dark" role="alert">
        @TempData["MensagemErro"]
    </div>
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success text-dark" role="alert">
        @TempData["MensagemSucesso"]
    </div>
}


<div class="container mt-5">
    <form method="post" asp-controller="Home" asp-action="Login">
        <div class="mb-3">
            <label>Email:</label>
            <input type="email" class="form-control" asp-for="Email" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label>Senha:</label>
            <input type="password" class="form-control" asp-for="Senha" />
            <span asp-validation-for="Senha" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-warning text-center  w-100 mb-3" style="color:black; font-weight: bold">Entrar</button>
    </form>
</div>